<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>    
  </div>  
<% else %>
  <div class="center">
    <h1>The James Bay Project</h1>

	<img src="http://www.mat.ucsb.edu/g.legrady/glWeb/Projects/jbc/images/007guys.jpg"></img>
	<br>
    <%= #link_to "Sign up now!", signup_path, :class=> "btn btn-large btn-primary"
    	link_to "Sign up now!", signup_path, :class=> "btn btn-large btn-primary"  
    %>
    <%= link_to "Sign in", signin_path, :class=> "btn btn-large btn-primary" %>
  </div>

  <!--<%= link_to image_tag("rails.png", :alt=> "Rails"), 'http://rubyonrails.org/' %>-->
<% end %> 